.App {
  text-align: center;
  overflow-x: hidden;
  background-color: #282c34;
  font-size: 'Roboto', sans-serif;
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Praise', cursive;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif; */